In [23]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [24]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [25]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [26]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_results = [] # create empty list
june_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)

In [27]:
#  3. Convert the June temperatures to a list.
june_temps = list(june_results)

In [28]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_temps, columns = ['Date', 'June Temps (F)'])
june_temps_df.set_index(['Date'], inplace=True)
june_temps_df.head()

            June Temps (F)
Date
2010-06-01            78.0
2010-06-02            76.0
2010-06-03            78.0
2010-06-04            76.0
2010-06-05            77.0

In [29]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

       June Temps (F)
count     1700.000000
mean        74.944118
std          3.257417
min         64.000000
25%         73.000000
50%         75.000000
75%         77.000000
max         85.000000

## D2: Determine the Summary Statistics for December

In [30]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_results = [] # create empty list
dec_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12)

In [31]:
# 7. Convert the December temperatures to a list.
dec_temps = list(dec_results)

In [32]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_temps, columns = ['Date', 'December Temps (F)'])
dec_temps_df.set_index(['Date'], inplace=True)
dec_temps_df.head()

            December Temps (F)
Date
2010-12-01                76.0
2010-12-03                74.0
2010-12-04                74.0
2010-12-06                64.0
2010-12-07                64.0

In [33]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

       December Temps (F)
count         1517.000000
mean            71.041529
std              3.745920
min             56.000000
25%             69.000000
50%             71.000000
75%             74.000000
max             83.000000

# D3: Additional Queries

In [34]:
# Print out the summary statistics for the June precipitation
june_prcp = []
june_prcp = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6)
june_prcp_list = list(june_prcp)
june_prcp_df = pd.DataFrame(june_prcp_list, columns = ['Date', 'June Precipitation (Inches)'])
june_prcp_df.set_index(['Date'], inplace=True)
june_prcp_df.describe()

       June Precipitation (Inches)
count                  1574.000000
mean                      0.136360
std                       0.335731
min                       0.000000
25%                       0.000000
50%                       0.020000
75%                       0.120000
max                       4.430000

In [35]:
# Print out the summary statistics for the December precipitation
dec_prcp = []
dec_prcp = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12)
dec_prcp_list = list(dec_prcp)
dec_prcp_df = pd.DataFrame(dec_prcp_list, columns = ['Date', 'December Precipitation (Inches)'])
dec_prcp_df.set_index(['Date'], inplace=True)
dec_prcp_df.describe()

       December Precipitation (Inches)
count                      1405.000000
mean                          0.216819
std                           0.541399
min                           0.000000
25%                           0.000000
50%                           0.030000
75%                           0.150000
max                           6.420000